@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* https://coolors.co/00393d-24948e-c2fff2-e2aa78-f7d5a1-026fa1-2999d0-5eabbf-502f2a-a9cd89 */

:root {
  --breakpoint: abc;
  --gap: 25pt;
}

::selection {
  background-color: #708d81;
  color: black;
}

* {
  color-scheme: dark;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}
h1 {
  text-align: center;
  font-variant: small-caps;
  padding-top: 2.2em;
  font-size: 3.25em;
  user-select: none;
}

img {
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  background-color: #001427;
  color: #f4d58d;
}

#content {
  padding: 8pt;
}

#banner {
  background-image: url("assets/top.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  /* TODO: remove bottom padding somehow */
}

nav {
  z-index: 1000;
  background-color: #708d81;
  color: #fffcf2;
  padding: 10px;
  position: fixed;
  top: 0; left: 0; right: 0;
  /* overflow-x: auto;
  text-wrap: nowrap; */

  > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
    padding-left: 0;

    > li {
      display: inline-block;
      font-weight: bold;
      user-select: none;

      > a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: #595959;
          text-decoration: underline;
        }
        &:visited {
          color: inherit;
        }
      }
    }
  }
}

@media (max-width: 768px) {
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portfolio-container > .image-place {
  padding: 75px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 2 * var(--gap)) / 3));
  column-gap: var(--gap);

  .img-col {
    /* border: 2px dotted gray; */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: flex-start;

    img {
      border-radius: 10px;
      filter: grayscale(100%);
      transition: all 0.25s ease;
      user-select: none;

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
      }
    }
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  > .card {
    height: 450px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 40px 20px;
    border-radius: 20px;

    > img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      border-radius: 1000000px;
    }

    > .title,
    .subtitle {
      text-align: center;
    }
    > .title {
      font-size: 2em;
      font-weight: bold;
      color: white;
    }
    > .subtitle {
      font-size: 1.25em;
    }
  }
}

footer {
  background-color: #708d81;
  color: #fffcf2;
  text-align: center;
  margin-top: 10pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
