@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* https://coolors.co/00393d-24948e-c2fff2-e2aa78-f7d5a1-026fa1-2999d0-5eabbf-502f2a-a9cd89 */

/* ---- Global and general ------------------------------------------------ */

:root {
  --breakpoint: 768px;
  --gap: 25pt;
  --cutesra: "cute kawaii p~~~";
}

::selection {
  background-color: #708d81;
  color: black;
  text-shadow: none;
}

* {
  color-scheme: dark;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-variant: small-caps;
  font-size: 3.25em;
  user-select: none;
}

img {
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  background-color: #001427;
  color: #f4d58d;
}

/* ---- Navbar ------------------------------------------------ */

nav {
  z-index: 100;
  background-color: #708d81;
  color: #fffcf2;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    flex-wrap: wrap;
    padding-left: 0;

    > li {
      display: inline-block;
      font-weight: bold;
      user-select: none;

      > a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
          color: #595959;
          text-decoration: underline;
        }
        &:visited {
          color: inherit;
        }
      }
    }
  }
}

/* ---- Hero banner ------------------------------------------------ */

#banner {
  background-image: url("assets/top_darkened.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1.5em;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-shadow: 3px 3px 3px black; */

  .banner-wave {
    width: 100%;
    /* width: 100%; */
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: var(--breakpoint)) {
  /* TODO: responsive  */
}

/* ---- Portfolio ------------------------------------------------ */

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portfolio-container > .image-place {
  padding: 75px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 2 * var(--gap)) / 3));
  column-gap: var(--gap);

  .img-col {
    /* border: 2px dotted gray; */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: flex-start;

    img {
      border-radius: 10px;
      filter: grayscale(100%);
      transition: all 0.25s ease;
      user-select: none;
      max-width: 100%;

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.05);
      }
    }
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---- About us ------------------------------------------------ */

.about-us {
  background-image: url("assets/top_darkened.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 20pt;

  .banner-wave {
    /* width: calc(100% + 10px); */
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
  }
}

.about-us-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  > .card {
    height: 450px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 20, 39, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 20px;

    > img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      border-radius: 1000000px;
    }

    > .title,
    .subtitle {
      text-align: center;
    }
    > .title {
      font-size: 2em;
      font-weight: bold;
      color: white;
    }
    > .subtitle {
      font-size: 1.25em;
    }
  }
}

/* ---- Footer ------------------------------------------------ */

footer {
  background-color: #708d81;
  color: #fffcf2;
  text-align: center;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
